body {
margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* background-image: url('pexels-tima-miroshnichenko-6693661.jpg');
background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert{
  
  padding: 20px;
margin: 20px;
}
h1{
  text-align: center;
}
.form-group .form-control{

width: 30%;

}
.form-group{
  padding: 20px;

}

.box{



  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px gray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  margin-bottom: 50px;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money.plus {
  color: #2ecc71;
}
.money.minus {
  color: #c0392b;
}



.d-flex {
/* background:linear-gradient(135deg, #ff98f5 0%,#e0e0e0 100%); */
background: rgb(240, 238, 238);
}


.budget-form{
  background:linear-gradient(135deg, #d9d9d9 0%,#ffe7e7 100%);
  border-radius: 15px;
  box-shadow: 1px 2px 5px 2px gray;
      
    
}
span{
  font-weight: 600;
margin-left: 25px;
position: relative;

}
label{
  font-weight: 600;
}

.btn-primary{
 margin-left: 20px;
}
li{
  list-style-type: none;
  /* background:linear-gradient(45deg,rgb(229, 248, 255) 0%, rgb(255, 216, 222) 100%) !important;
  height: 80px;
  width: 17%;
  box-shadow: 0 5px 20px lightgray !important; */
/* padding: 15px;
  margin: 3rem;
  */

}
.badge {
 
  margin: 15px;
  list-style-type: none;
  
}


p{
  font-weight: 600;
  margin: 20px;
}

.badge .badge-primary{
  background-color: rgb(109, 109, 109);
margin: 15px;
}
@media only screen and (max-width: 425px) {
  .form-group .form-control{

    width: 60%;
    
    }
    li{
      list-style-type: none;
      background:linear-gradient(45deg,rgb(229, 248, 255) 0%, rgb(255, 216, 222) 100%) !important;
      height: 80px;
      width: 17%;
      box-shadow: 0 5px 20px lightgray !important;
    padding: 15px;
      margin: 3rem;
      
      border-radius: 10px;
    }
  }

  @media only screen and (max-width: 320px) {
    .form-group .form-control{
  
      width: 70%!important;
      
      }
      li{
        list-style-type: none;
        background:linear-gradient(45deg,rgb(229, 248, 255) 0%, rgb(255, 216, 222) 100%) !important;
        height: 80px;
        width: 17%;
        box-shadow: 0 5px 20px lightgray !important;
      padding: 15px;
        margin: 3rem;
        
        border-radius: 10px;
      }
    }

.sign-up
{
  background-color: rgb(255, 252, 252);
  height: max-content;
  /* padding: 30px 80px 30px 80px; */
  padding: 23px 200px 50px 51px;
  border-radius: 10px;
  width: max-content;

  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

box-shadow: 1px 3px 3px 4px gray;

}
.form-group .form-control {
  width: 70%;
}
/* .bg-img{
  width: 100%;
  height: 100% ;
} */

.bg-img {
  width: 100%; /* Set the image width to 100% of its container */
  height: 1024px; /* Allow the height to adjust proportionally */
  display: block; /* Remove any default inline styles applied by some browsers */
  margin: 0 auto; /* Center the image horizontally within its container */
  max-width: 100%; /* Ensure the image does not exceed its original size on larger screens */
}
.back-sign{
 
  /* background-image: url('pexels-pavel-danilyuk-7654579.jpg'); */
 
  background-position: center center;
  /* Scale the background image to cover the entire page */
  background-size: cover;
  /* Fix the background image to prevent scrolling with the page */
  background-attachment: fixed;
  /* Set the background color as a fallback if the image is not available or loading */

  /* Optional: Set the height of the body to 100% to fill the entire viewport */
  /* height: 200vh; */
  /* Optional: Reset margin and padding for the body */
  margin: 0;
  padding: 0;
  /* background: rgb(235,22,22);
background: linear-gradient(321deg, rgba(235,22,22,1) 0%, rgba(245,181,255,1) 0%, rgba(251,148,180,1) 32%, rgba(255,127,131,1) 92%, rgba(255,126,128,1) 96%, rgba(255,125,126,1) 100%, rgba(255,124,124,1) 100%, rgba(0,212,255,1) 100%); */
/* height: 200vh;

background: linear-gradient(180deg, #ffa4b6 0%, #3F5EFB 120%); */
}
/* .sign-head{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 70px;
} */






@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.login
{
  background-color: rgb(255, 254, 254);
  min-height: 47vh;
  padding: 30px;
  min-width: 30%;
 border-radius: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);



}

.form-group .form-control {
  width: 70%;
}
.back-login{
  background-color: linear-gradient(90deg, #4b6cb7 0%, #182848 100%) !important;
   height: 140vh;
  margin: 0;

}
.login-head{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px;
}

.d-flex{
  padding: 25px;
  margin-left: 20px;

}



.form-group .form-control {

  width: 135%;
  border-color: black;

}

.form-group .form-control-budget
{
  width: 30%;
margin: 10px;
  border: 1px solid gray;


}

.bg-budget{

  /* background-image: url("pexels-tima-miroshnichenko-6693661.jpg"); */

  /* Control the height of the image */
  height: 600px;
width: 600px;
float: right;
margin-right: 30px;
margin-top: 30px;
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}



.btn-logout
{
  cursor: pointer;
  background-color: black;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn-logout:hover{
opacity: 0.6;
  /* transition: 0.7s;
  color: black */
}

/* :root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} */
* {
  box-sizing: border-box;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Lato', sans-serif;
}




@media only screen and (max-width: 320px) {
  .bg-budget{

    background-image: url("pexels-tima-miroshnichenko-6693661.jpg");
  
    /* Control the height of the image */
    height: 300px;
  width: 300px;
  /* float: right; */
  margin-right: 30px;
  margin-top: 30px;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;
  }

  .back-login{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
     height: 150vh;
    margin: 0;
  
  }

    .login{
      background-color: rgb(250, 250, 250);
  min-height: 50vh;
  padding: 20px;
  width: 80%;
 border-radius: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
    }
    .sign-up {
      background-color: rgb(255, 252, 252);
      height: 419px;
      /* padding: 30px 80px 30px 80px; */
      padding: 23px 200px 50px 51px;
      border-radius: 10px;
      width: 489px;
      margin-bottom: 100px;
      margin-top: 100px;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 79%;
      box-shadow: 1px 3px 3px 4px gray;
  }
  .form-group{
    padding: 0;
  }
}

  @media only screen and (max-width: 425px) {
    .bg-budget{

      background-image: url("pexels-tima-miroshnichenko-6693661.jpg");
    
      /* Control the height of the image */
      height: 300px !important;
    width: 300px !important;
    /* float: right; */
    margin-right: 30px;
    margin-top: 30px;
      /* Center and scale the image nicely */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    
      position: relative;
    }
  
    .back-login{
      background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
       height: 150vh !important;
      margin: 0;
    
    }
  
      .login{
        background-color: rgb(255, 255, 255);
    min-height: 50vh !important;
    padding: 20px;
    width: 90% !important;
   border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
      }
    }

    @media only screen and (max-width: 768px) {
      .bg-budget{
  
        background-image: url("pexels-tima-miroshnichenko-6693661.jpg");
      
        /* Control the height of the image */
        height: 300px !important;
      width: 300px !important;
      /* float: right; */
      margin-right: 30px;
      margin-top: 30px;
        /* Center and scale the image nicely */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      
        position: relative;
      }
    
    }  
   



    @media only screen and (width: 414px){
      .sign-up{
        height: 300px;
        width:  300px;
      }

      .bg-img{
        
          
          height: 670px;
        
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        
      }
    }